parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: ./.cache/phpstan
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkMissingCallableSignature: true
