parameters:
    level: 8
    paths:
        - src
        - tests

    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true

    ignoreErrors:
        # - '#SomeKnownFalsePositive#'
